.mainCard {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 1% 3%;
    margin-bottom: 3rem;
  }

  .subCard {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 5%;
    margin: 2.5%;
    max-width: 1000px;
    /* min-width: 255px; */
  }

  .sectionGrid {
    display: grid;
    padding: 1%;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .item {
    margin: 1rem 0;
    padding: 5px;
  }

  a {
  text-decoration: none;
  color: inherit;
}
  
  .image {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
  
  .image img {
    width: 100%;
    object-fit: cover;
  }
  
  .content {
    text-align: center;
  }
  
  .content h3 {
    font-size: 1.25rem;
    color: #2c292b;
  }
  
  .actions {
    padding: 1.5rem;
    text-align: center;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    color: #77002e;
    border: 1px solid #77002e;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #ffe2ed;
  }

  .miniActions {
    text-align: center;
  }
  
  .miniActions button {
    font: inherit;
    cursor: pointer;
    color: #77002e;
    border: 1px solid #77002e;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }
  
  .miniActions button:hover,
  .miniActions button:active {
    background-color: #ffe2ed;
  }

  .centreAlign {
    text-align: center;
  }

  .amount {
    padding: 0.5rem;
    margin: 0 0.2rem;
    text-align: center;
    width: 3.1rem;  
  }

  .customModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    size: auto;
  }